:root {
  --font-family-id-empresa: 'Twinkle Star', cursive;
  --font-family-items: 'M PLUS 2', sans-serif;
  --font-family-th: 'M PLUS 2', sans-serif;
  --font-family-td: 'M PLUS 2', sans-serif;
  --font-family-buttons: 'Candal', sans-serif;

  --font-input: 300;

  --font-size-logo: 28px;
  --font-size-card-title: 28px;
  --font-size-input-label: 20px;
  --font-size-button: 22px;
  --font-size-form-fieldset: 22px;
  --font-size-table-header: 21px;
  --font-size-modal-title: 28px;
  --font-size-modal-button: 28px;

  --primary-color: #fff;
  --secundary-color: #dae8f8cc;
  --line-color: #deedfd;
  --button-color: #9bc6f5;
  --contrast-dark-color: #4d4d4d;
  --new-color: rgba(88, 181, 243, 0.733);
  --info-color: #df2525c5;
  --sucess-color: #047900af;
  --transparency-color: #4d4d4d33;

  --shadow: 0 5px 10px #55a6ff38;
}

@media (min-width: 800px) {
  :root {
    --font-size-logo: 56px;
  }
}
